<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/WIN_20210218_18_55_06_Pro.jpg" class="img-fluid" id="FotodePerfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}} </p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p> Estudiante de Ingenieria Industrial.
                Programadora en formacion de Front-End y Back-End.</p>
        </span>
    </div>
</div>
