<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/WIN_20210218_18_55_06_Pro.jpg" class="img-fluid" id="FotodePerfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="Nombre">Ana Luz Gutierrez Antista</p>
        <p>Full Stack Developer Jr y estudiante de ingenieria industrial</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum cumque a explicabo! At cupiditate voluptatem iusto? At, laborum expedita soluta illum in minus corporis cupiditate officia eum, neque, dolorem consectetur?</p>
        </span>
    </div>
</div>
