.row{
    padding: 25px;
    margin: 0%;
}
div{
    background-color: rgb(58, 124, 163);
    text-align: center;
    margin: 0%;
}

/*etiqueta nombre*/
#nombre {
    font-weight: bold;
    margin-top: 10%;
    margin-left: 10px;
}
/*etiqueta foto de perfil*/
@media (min-width: 576px){
    #FotodePerfil{
        position:absolute;
        width: 15%;
        border-radius: 70%;
        box-shadow: 3px 3px 3px rgb(41, 92, 117);
        left: 1%;
        top: 720px;

    }
}
@media (max-width: 575px){
    #FotodePerfil{
        position:absolute;
        width: 30%;
        border-radius: 70%;
        box-shadow: 3px 3px 3px grey;
        left: 33%;
        top: 920px;
        
    }
}