<div class="row">
    <h1>Proyectos realizados </h1>
<div class="contenedor">
    <div class="col-sm-12 col-md-7 col-lg-7 parte1">
     <h1>proyecto1</h1>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum doloribus provident iste. Odit dolores totam, blanditiis quod obcaecati fugit tenetur? Quas nesciunt laborum, modi alias ea aspernatur perferendis consectetur est.</p>   
    </div>
    <div class="col-sm-12 col-md-7 col-lg-7 parte2">
        <h1>Proyecto2</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure dicta rerum, qui molestiae architecto in doloremque consectetur quam at, dignissimos excepturi, obcaecati et adipisci eligendi blanditiis magni quisquam similique inventore?</p>
    </div>
</div>
</div>